* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

$black: #000;
$white: #fff;
$gray: #333;
$lightBrown: #f2f0ed;
$darkBrown: #9a8c7e;
$red: #ae0404;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* 
========================================
Headings
========================================
*/
h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 15px;
}

h5 {
  font-size: 0.7rem;
  font-weight: 300;
  padding-bottom: 5px;
}

/* 
========================================
Header
========================================
*/

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
  height: 70px;

  background-color: $white;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  cursor: pointer;
  width: 200px;
}

.btn--icon {
  color: $gray;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: $red;
  }
  &:active {
    color: $lightBrown;
  }
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  &.active {
    display: inline-block;
  }

  a {
    display: block;
    background: $lightBrown;
    color: $gray;
    padding: 1rem;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-color: $red;
    }
    &:nth-child(2) {
      background-color: $red;
      color: $white;
    }
  }
}

.navbar--corner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;

  background: $lightBrown;
  padding: 0 3rem;

  &.active {
    display: flex;
    align-items: center;
  }

  input {
    width: 100%;

    background: none;
    color: $black;
    font-size: 1.2rem;
  }
}
main {
  display: flex;
  flex-direction: column;
  height: 94vh;
}
/* 
========================================
Main-Container
========================================
*/

.main-container {
  margin: 0 auto;
  display: flex;
  flex: 1;
}

/* 
========================================
Sidebar
========================================
*/

.sidebar-container {
  background-color: $white;
  min-width: 110px;
  max-width: 200px;

  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar-menu li {
  padding: 15px 5px;
  cursor: pointer;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

/* 
========================================
Areas Section
========================================
*/
.areas-section {
  flex: 3;
  background-color: $lightBrown;
  padding: 0.5rem;
  text-align: justify;
  display: flex;

  h1 {
    padding: 0.5rem 0;
    color: $red;
    font-size: 1.5rem;
  }
  p {
    padding: 0.5rem 0;
    flex: 1;
  }
}

.areas-section article {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* 
========================================
Social Media Section
========================================
*/

.social-media-section {
  width: 100%;
  height: 50px;
  background: $darkBrown;
  display: flex;
  justify-content: center;
}
.social-media__container {
  width: 100%;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media__box a {
  color: #f4f4f4;
  height: 48px;
  width: 48px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $red;
    transition-duration: 300ms;
  }
}

/* 
========================================
Footer
========================================
*/

.footer {
  height: 100px;
  background: $lightBrown;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    color: $gray;
    font-weight: 300;

    &::after {
      content: '|';
    }

    &:last-of-type::after {
      content: none;
    }
    &:hover {
      cursor: pointer;
      color: $red;
      transition-duration: 300ms;
    }
  }
}

/* 
========================================
Media Queries
========================================
*/

@media (min-width: 480px) {
  .areas-section {
    padding: 1rem;

    h1 {
      padding: 1rem 0;
      font-size: 2rem;
    }
    p {
      padding: 1rem 0;
    }
  }

  .contact__box {
    height: 300px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  header {
    padding: 0.7rem 1%;
  }
  .btn--menu {
    display: none;
  }

  nav {
    position: static;

    display: flex;
    justify-content: space-evenly;
    flex: 1;

    a {
      display: initial;
      background: none;
      &:hover {
        text-underline-offset: 1rem;
      }
    }
  }

  .cv-box {
    grid-column: span 2;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .areas-section {
    padding: 2rem;
    h1 {
      font-size: 2.4rem;
    }
  }

  .contact__container {
    justify-self: center;
    align-self: center;
    width: 90%;
  }
}

@media (min-width: 992px) {
  header {
    padding: 0.7rem 5%;
  }
  .cv-container {
    width: 95%;
  }

  .contact__container {
    width: 75%;
  }
  .contact__box {
    height: 350px;
    width: 300px;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 0.7rem 10%;
  }

  .main-container {
    width: 80%;
  }

  .contact__container {
    width: 55%;
  }
  .contact__box {
    width: 320px;
  }
  .social-media__container {
    width: 55%;
    margin: 0 10%;
  }
}

@media (min-width: 1600px) {
  header {
    padding: 0.7rem 15%;
  }
  .main-container {
    width: 70%;
  }
}
@media (min-width: 2100px) {
  header {
    padding: 0.7rem 20%;
  }
  .main-container {
    width: 60%;
  }
}
