* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

$black: #000;
$white: #fff;
$gray: #333;
$lightBrown: #f2f0ed;
$darkBrown: #9a8c7e;
$red: #af005f;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* 
========================================
Headings
========================================
*/
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}

h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 15px;
}

/* 
========================================
Header
========================================
*/

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
  height: 70px;

  background-color: $white;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn--icon {
  color: $gray;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: $red;
  }
  &:active {
    color: $lightBrown;
  }
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  &.active {
    display: inline-block;
  }

  a {
    display: block;
    background: $lightBrown;
    color: $gray;
    padding: 1rem;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-color: $red;
    }
  }
}

.navbar--corner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;

  background: $lightBrown;
  padding: 0 2rem;

  &.active {
    display: flex;
    align-items: center;
  }

  input {
    width: 100%;

    background: none;
    color: $black;
    font-size: 1.2rem;
  }
}

/* 
========================================
Main
========================================
*/

/* 
========================================
Carousel
========================================
*/

.carousel {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 140px);
  width: 100%;
}

.carousel__track-container {
  position: relative;
  height: inherit;
  min-height: inherit;
  overflow: hidden;

}

.carousel__track {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  height: inherit;
  min-height: inherit;
  transition: transform 250ms ease-in;

}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__image {
  width: 100%;
  min-height: 500px;
  z-index: 0;
  height: 100%;

  object-fit: cover;
  display: block;
  filter: grayscale(0.5);
  opacity: 0.9;
  filter: brightness(60%);
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: transparent;
  color: $darkBrown;
  cursor: pointer;
  z-index: 999;
}

.carousel__button--left {
  left: 10px;
}

.carousel__button--right {
  right: 10px;
}

.carousel__nav {
  position: absolute;
  bottom: 2rem;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1rem;
}
.carousel__indicator {
  background: $darkBrown;
  width: 70px;
  height: 5px;
  cursor: pointer;
}
.carousel__indicator.current-slide {
  background: $red;
}

.carousel__track-footer {
  width: 100%;
  height: 70px;
  background-color: $darkBrown;
}

article {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.console {
  position: absolute;
  color: $white;
  width: 90%;
  z-index: 5;
  background: transparent;
  top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2 {
    text-align: center;
    padding-bottom: 5px;
  }
}

.is-hidden {
  display: none;
}

/* 
========================================
Media Queries
========================================
*/

@media (min-width: 480px) {
}
@media (min-width: 768px) {
  header {
    padding: 0.7rem 10%;
  }
  .btn--menu {
    display: none;
  }

  nav {
    position: static;

    display: flex;
    justify-content: space-evenly;
    flex: 1;

    a {
      display: initial;
      background: none;
      &:hover {
        text-underline-offset: 1rem;
      }
    }
  }
  .carousel__indicator {
    width: 80px;
    height: 8px;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 0.7rem 20%;
  }
}
