* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* 
========================================
Headings
========================================
*/
h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

h3 {
  font-size: 1.2rem;
  font-weight: 100;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 15px;
}

/* 
========================================
Header
========================================
*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #fff;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn--icon {
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn--icon:hover {
  color: #af005f;
}

.btn--icon:active {
  color: #f2f0ed;
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

nav.active {
  display: inline-block;
}

nav a {
  display: block;
  background: #f2f0ed;
  color: #333;
  padding: 1rem;
  font-weight: 300;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  -webkit-text-decoration-color: #af005f;
          text-decoration-color: #af005f;
}

.navbar--corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.search-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  background: #f2f0ed;
  padding: 0 2rem;
}

.search-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 1.2rem;
}

/* 
========================================
Main
========================================
*/
/* 
========================================
Carousel
========================================
*/
.carousel {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 140px);
  overflow-x: hidden;
  width: 100%;
}

.carousel__track-container {
  position: relative;
  height: inherit;
  min-height: inherit;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  height: inherit;
  min-height: inherit;
  -webkit-transition: -webkit-transform ease-in;
  transition: -webkit-transform ease-in;
  transition: transform ease-in;
  transition: transform ease-in, -webkit-transform ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__image {
  width: 100%;
  min-height: 500px;
  z-index: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  opacity: 0.9;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.5rem;
  background: transparent;
  color: #9a8c7e;
  cursor: pointer;
  z-index: 999;
}

.carousel__button--left {
  left: 10px;
}

.carousel__button--right {
  right: 10px;
}

.carousel__nav {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.carousel__indicator {
  background: #9a8c7e;
  width: 70px;
  height: 5px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: #af005f;
}

.carousel__track-footer {
  width: 100%;
  height: 70px;
  background-color: #9a8c7e;
}

.carousel__text {
  position: absolute;
  color: #fff;
  width: 90%;
  z-index: 5;
  background: transparent;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__text h1,
.carousel__text h2 {
  text-align: center;
  padding-bottom: 5px;
}

.is-hidden {
  display: none;
}

/* 
========================================
Media Queries
========================================
*/
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  header {
    padding: 0.7rem 10%;
  }
  .btn--menu {
    display: none;
  }
  nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav a {
    display: initial;
    background: none;
  }
  nav a:hover {
    text-underline-offset: 1rem;
  }
  .carousel__indicator {
    width: 80px;
    height: 8px;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 0.7rem 20%;
  }
}
/*# sourceMappingURL=style.css.map */