* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

$black: #000;
$white: #fff;
$gray: #333;
$lightBrown: #f2f0ed;
$darkBrown: #9a8c7e;
$red: #af005f;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* 
========================================
Headings
========================================
*/
h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 15px;
}

h5 {
  font-size: 0.7rem;
  font-weight: 300;
  padding-bottom: 5px;
}

/* 
========================================
Header
========================================
*/

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
  height: 70px;

  background-color: $white;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  cursor: pointer;
}

.btn--icon {
  color: $gray;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: $red;
  }
  &:active {
    color: $lightBrown;
  }
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  &.active {
    display: inline-block;
  }

  a {
    display: block;
    background: $lightBrown;
    color: $gray;
    padding: 1rem;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-color: $red;
    }
  }
}

.navbar--corner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;

  background: $lightBrown;
  padding: 0 3rem;

  &.active {
    display: flex;
    align-items: center;
  }

  input {
    width: 100%;

    background: none;
    color: $black;
    font-size: 1.2rem;
  }
}

/* 
========================================
Carousel
========================================
*/

.carousel {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 140px);
  overflow: hidden;
  width: 100%;
}

.carousel__track-container {
  position: relative;
  height: inherit;
  min-height: inherit;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  height: inherit;
  min-height: inherit;
  transition: transform ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}
.carousel__image {
  width: 100%;
  min-height: 500px;
  z-index: 0;
  height: 100%;

  object-fit: cover;
  display: block;
  filter: grayscale(0.5);
  opacity: 0.9;
  filter: brightness(60%);
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: transparent;
  color: $darkBrown;
  cursor: pointer;
  z-index: 999;
  &:hover {
    color: $red;
    transition-duration: 100ms;
  }
}

.carousel__button--left {
  left: 10px;
}

.carousel__button--right {
  right: 10px;
}

.carousel__nav {
  position: absolute;
  bottom: 2rem;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1rem;
}
.carousel__indicator {
  background: $darkBrown;
  width: 70px;
  height: 5px;
  cursor: pointer;
}
.carousel__indicator.current-slide {
  background: $red;
}

.carousel__track-footer {
  width: 100%;
  height: 70px;
  background-color: $darkBrown;
}

.carousel__text {
  position: absolute;
  color: $white;
  width: 90%;
  z-index: 5;
  background: transparent;
  top: 50px;

  display: grid;
  justify-items: center;

  h1,
  h2 {
    text-align: center;
    padding-bottom: 5px;
  }
  span {
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      color: $red;
      transition-duration: 200ms;
    }
  }
}

.is-hidden {
  display: none;
}

/* 
========================================
News Section
========================================
*/
.news-section {
  background-color: $lightBrown;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}

.thumbnail-box {
  position: relative;
  grid-column: span 6;
  height: 100%;
  min-height: 400px;

  background-color: $white;

  display: flex;
  flex-direction: column;
}

.thumbnail-box__img {
  margin: 0 auto;
  width: 100%;
}

.thumbnail-box__img img {
  width: 100%;
  padding-bottom: 10px;
}

.thumbnail-box__article {
  padding: 15px;
  flex: 1;
  height: min-content;

  display: block;
  h3 {
    color: $red;
    padding-bottom: 25px;
  }
  p {
    padding: 20px 0;
  }
  span {
    position: absolute;
    display: block;
    bottom: 0;
    padding-bottom: 20px;
    font-weight: bold;

    &: ;
  }
  span i {
    color: $red;
  }
}

.news-section__btn {
  left: 0;
  right: 0;
  margin: 3rem auto 0 auto;

  padding: 10px 12px;
  color: #fff;

  background-color: $darkBrown;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  &:hover {
    background-color: $white;
    color: $darkBrown;
    transition-duration: 300ms;
    cursor: pointer;
  }
}

/* 
========================================
About Section
========================================
*/
.about-section {
  height: 450px;
  width: 100vw;
  background-image: url(/images/crossroads.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  height: 100%;
  display: grid;
  margin-bottom: 30px;
}
.about__box {
  justify-self: center;
  align-self: end;

  width: 300px;
  height: 250px;
  background: $white;
  color: $red;
  padding: 40px;
  display: flex;
}

/* 
========================================
Contact Section
========================================
*/

.contact-section {
  position: relative;
  width: 100vw;
  display: grid;

  iframe {
    z-index: 0;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.8;
  }
}

.contact__container {
  position: absolute;
  justify-self: end;
  align-self: end;
  display: grid;
}
.contact__box {
  justify-self: end;
  align-self: end;
  z-index: 1;
  height: 200px;
  width: 200px;
  background: $red;

  display: flex;
}

.contact__text {
  padding: 20px;
  width: 95%;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 
========================================
Social Media Section
========================================
*/

.social-media-section {
  width: 100%;
  height: 50px;
  background: $darkBrown;
  display: flex;
  justify-content: center;
}
.social-media__container {
  width: 100%;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media__box a {
  color: #f4f4f4;
  height: 48px;
  width: 48px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $red;
    transition-duration: 300ms;
  }
}

/* 
========================================
Footer
========================================
*/

.footer {
  height: 100px;
  background: $lightBrown;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    color: $gray;
    font-weight: 300;

    &::after {
      content: '|';
    }

    &:last-of-type::after {
      content: none;
    }
    &:hover {
      cursor: pointer;
      color: $red;
      transition-duration: 300ms;
    }
  }
}

/* 
========================================
Media Queries
========================================
*/

@media (min-width: 480px) {
  .about__box {
    width: 450px;
    height: 250px;
  }

  .contact__box {
    height: 300px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  header {
    padding: 0.7rem 10%;
  }
  .btn--menu {
    display: none;
  }

  nav {
    position: static;

    display: flex;
    justify-content: space-evenly;
    flex: 1;

    a {
      display: initial;
      background: none;
      &:hover {
        text-underline-offset: 1rem;
      }
    }
  }
  .carousel__indicator {
    width: 80px;
    height: 8px;
  }

  .thumbnail-container {
    width: 90%;
  }

  .about__container {
    width: 90%;
  }
  .thumbnail-box {
    grid-column: span 2;
    min-height: 600px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .thumbnail-box__link {
    margin-right: 60px;
    width: max-content;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }

  .about__box {
    justify-self: end;
    align-self: center;
    margin: 0;
    width: 350px;
    height: 300px;
  }

  .contact__container {
    justify-self: center;
    align-self: center;
    width: 90%;
  }

  .social-media__container {
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  header {
    padding: 0.7rem 15%;
  }
  .thumbnail-container {
    width: 75%;
  }

  .about__container {
    width: 75%;
  }
  .about__box {
    width: 450px;
    height: 350px;
  }

  .contact__container {
    width: 75%;
  }
  .contact__box {
    height: 350px;
    width: 300px;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 0.7rem 22%;
  }

  .carousel__text {
    width: 70%;
    background: transparent;
    top: 25%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    h1,
    h2,
    span {
      grid-column: 2/3;
      text-align: left;
      justify-self: start;
    }
  }

  .thumbnail-container {
    width: 60%;
  }
  .about__container {
    width: 55%;
  }

  .about__box {
    width: 550px;
  }

  .contact__container {
    width: 55%;
  }
  .contact__box {
    width: 350px;
  }
  .social-media__container {
    width: 55%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
